*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Montserrat', sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    box-sizing: border-box;
    font-size: 1.6rem;
    background: linear-gradient(160deg, #000000, #0b0b1d, #1a1a2e);
    color: #fff;
    display: grid;
    place-items: center;
    min-height: 100vh;
}


.aesthetic-text {
    font-size: 35px; /* Adjust size as needed */
    font-weight: bold; /* Make text bold */
    background: linear-gradient(90deg, rgba(255,255,255,1) 22%, rgba(225,137,199,1) 60%, rgba(124,0,190,1) 100%);
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make text fill transparent to show gradient */
    position: absolute; /* Make the text absolutely positioned */
    top: 20px; /* Adjust the distance from the top of the page */
    left: 50%; /* Center the text horizontally */
    transform: translateX(-50%); /* Align center by adjusting the position */
    z-index: 10; /* Ensure it's above the carousel */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.aesthetic-text2 {
    font-size: 15px; /* Adjust size as needed */
    background: linear-gradient(90deg, rgba(255,255,255,1) 22%, rgba(225,137,199,1) 60%, rgba(124,0,190,1) 100%);
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make text fill transparent to show gradient */
    position: absolute; /* Make the text absolutely positioned */
    top: 150px; /* Adjust the distance from the top of the page */
    left: 50%; /* Center the text horizontally */
    transform: translateX(-50%); /* Align center by adjusting the position */
    z-index: 10; /* Ensure it's above the carousel */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.carousel {
    position: relative;
}
.carousel__item {
    position: relative;
    height: 35rem;
    width: 25rem;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1rem 4rem rgba(0,0,0,.5);
    position: absolute;
    transform: translate(-50%,-50%) scale(.1);
    z-index: 0;
    transition: all .2s linear;
    will-change: transform;
}
.carousel__item img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.carousel__item--main {
    transform: translate(-50%,-50%) scale(1);
    z-index: 2;
    cursor: pointer;
}

.carousel__item--left {
    transform: translate(-110%,-50%) scale(.9);
    z-index: 1;
}
.carousel__item--right {
    transform: translate(10%,-50%) scale(.9);
    z-index: 1;
}
.carousel__item--left img, .carousel__item--right img {
    filter: grayscale(90%);
}

.carousel__item--right:hover {
    transform: translate(10%,-50%) scale(1.2);
    z-index: 3;
    cursor: pointer;
}
.carousel__item--left:hover {
    transform: translate(-110%,-50%) scale(1.2);
    z-index: 3;
    cursor: pointer;
}
.carousel__item--main:hover {
    transform: translate(-50%,-50%) scale(1.2);
}
.carousel__item:hover > .carousel__text {
    opacity: 1;
}
.carousel__item:hover img {
    filter: grayscale(0%);
}

.carousel__text {
    position: absolute;
    bottom: 0;
    z-index: 4;
    opacity: 0;
    transition: opacity .2s;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    padding: 2rem 1rem;
    color: #fff;
}


.carousel__btns {
    position: absolute;
    transform: translate(-50%, 22rem);
    display: flex;
    gap: 2rem;
}
.carousel__btn {
    background-color: transparent;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border:1px solid currentColor;
    color: #fff;
    cursor: pointer;
}
.carousel__btn svg {
    height: 1.8rem;
    width: 1.8rem;
}
.carousel__btn:hover {
    color: #aaa;
}
